<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Portfolio | Мои работы</title>
    <link rel="stylesheet" href="main.min.css">
  </head>
  <body>
    <div class="preloader js_preloader">
      <div class="preloader__container">
        <svg class="preloader__img js_preloader__img" x="0px" y="0px" width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve">
          <circle class="preloader__circle preloader__circle-1" opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" enable-background="new" cx="72" cy="71.999" r="70"></circle>
          <circle class="preloader__circle preloader__circle-2" opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new" cx="72" cy="72" r="55"></circle>
          <circle class="preloader__circle preloader__circle-3" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40"></circle>
        </svg><span class="preloader__progress js_preloader__progress"></span>
      </div>
    </div>
    <div class="wrapper">
      <div class="burger__menu--active">
        <ul class="burger__list">
          <li class="burger__item"><a class="burger__link" href="works.html">Мои работы</a></li>
          <li class="burger__item"><a class="burger__link" href="blog.html">Блог</a></li>
          <li class="burger__item"><a class="burger__link" href="about.html">Обо мне</a></li>
          <li class="burger__item"><a class="burger__link" href="index.html">Авторизация </a></li>
        </ul>
      </div>
      <!-- hero section-->
      <section class="hero__container" id="hero">
        <div class="socials__block hero__socials">
          <ul class="socials__list">
            <li class="socials__item"><a class="socials__link" href="https://vk.com">
                <svg class="social__img social__img--vk">
                  <use xlink:href="./assets/images/icons/sprite.svg#vk"></use>
                </svg></a></li>
            <li class="socials__item"><a class="socials__link" href="https://github.com">
                <svg class="social__img social__img--github">
                  <use xlink:href="./assets/images/icons/sprite.svg#github"></use>
                </svg></a></li>
            <li class="socials__item"><a class="socials__link" href="https://www.linkedin.com">
                <svg class="social__img social__img--in">
                  <use xlink:href="./assets/images/icons/sprite.svg#in"></use>
                </svg></a></li>
          </ul>
        </div>
        <button class="burger__menu">
          <div class="burger-btn">
            <div class="burger-btn__elem"></div>
          </div>
        </button>
        <div class="hero__title">
          <svg class="hero__pic hero__pic--portfolio_header">
            <use xlink:href="./assets/images/icons/sprite.svg#portfolio_header"></use>
          </svg>
        </div>
        <div class="hero__content">
          <div class="user">
            <div class="user-img__wrapper"><img class="user__img" src="./assets/images/avatar.jpg" alt="avatar pic"/>
            </div><span class="user__name">Жалдак Антон</span><span class="user__spec">Личный сайт веб разработчика</span>
          </div>
        </div><a class="hero__arrow-down" href="#anchor">
          <svg class="arrow-down__pic arrow-down__pic--arrow_down">
            <use xlink:href="./assets/images/icons/sprite.svg#arrow_down"></use>
          </svg></a>
      </section>
      <section class="works">
        <div class="anchor" id="anchor"></div>
        <div class="works__left">
          <div class="triangle">
            <div class="triangle__left triangle__left--white"></div>
          </div>
        </div>
        <div class="works__right">
          <div class="triangle">
            <div class="triangle__right triangle__right--white"></div>
          </div>
        </div>
        <div class="works__title-box">
          <div class="title-bg">
            <svg class="title__pic title__pic--works_header">
              <use xlink:href="./assets/images/icons/sprite.svg#works_header"></use>
            </svg>
          </div>
          <h1 class="title title--work">Мои работы</h1>
        </div>
        <div class="slider__box">
          <div id="slider-component"></div>
        </div>
      </section>
      <section class="reviews" id="reviews">
        <div class="rew__background"><img class="rew__img" src="./assets/images/bg/bg-reviews.png" alt="water"/>
        </div>
        <div class="reviews__container">
          <div class="reviews__top">
            <div class="reviews__title">
              <div class="title-bg">
                <svg class="title__pic title__pic--about_header">
                  <use xlink:href="./assets/images/icons/sprite.svg#about_header"></use>
                </svg>
              </div>
              <h2 class="title reviews__title-text">Что обо мне говорят</h2>
            </div>
          </div>
          <div class="reviews__columns">
            <div class="reviews__columns--left">
              <div class="column__pic"> 
                <svg class="column__pic-svg column__pic-svg--quote">
                  <use xlink:href="./assets/images/icons/sprite.svg#quote"></use>
                </svg>
              </div>
              <div class="column__text">Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 3,5 месяца только самых тяжелых испытаний и бессонных ночей!</div>
              <div class="column__author"> 
                <div class="column__author-pic"> <img class="undefined" src="./assets/images/DK.png" alt="author-pic--DK"/>
                </div>
                <div class="column__author-text">
                  <div class="column__author-name">Ковальчук Дмитрий</div>
                  <div class="column__author-description">основатель LoftSchool</div>
                </div>
              </div>
            </div>
            <div class="reviews__columns--right">
              <div class="column__pic"> 
                <svg class="column__pic-svg column__pic-svg--quote">
                  <use xlink:href="./assets/images/icons/sprite.svg#quote"></use>
                </svg>
              </div>
              <div class="column__text">Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!</div>
              <div class="column__author">
                <div class="column__author-pic"> <img class="picture Vladimir" src="./assets/images/VS.png" alt="author-pic--VS"/>
                </div>
                <div class="column__author-text">
                  <div class="column__author-name">Сабанцев Владимир</div>
                  <div class="column__author-description">наставник</div>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews__form-wrapper">
            <div class="reviews__form">
              <div class="reviews__form-title">Связаться со мной</div>
              <div class="reviews__form-data">
                <input class="form__data form__data--name" type="text" alt="name" placeholder="Имя">
                <input class="form__data form__data--email" type="email" alt="email" placeholder="E-mail">
                <textarea class="form__data form__data--msg" name="Message" placeholder="Введите сообщение" alt="your massage" type="text"></textarea>
              </div>
              <div class="btn btn--form">
                <button class="btn__send" type="subbmit">Отправить</button>
                <button class="btn__clear" type="reset">Очистить</button>
              </div>
            </div>
          </div><a class="hero__arrow-down arrow-up" href="#reviews">
            <svg class="arrow-down__pic arrow-down__pic--arrow_down">
              <use xlink:href="./assets/images/icons/sprite.svg#arrow_down"></use>
            </svg></a>
        </div>
      </section>
      <footer class="footer">
        <div class="footer__box">
          <div class="footer__row"> 
            <div class="footer__col">
              <nav class="menu">
                <ul class="menu__list">
                  <li class="menu__item">               <a class="menu__item-link menu__link" href="works.html">Мои работы</a></li>
                  <li class="menu__item">               <a class="menu__item-link menu__link" href="about.html">Обо мне</a></li>
                  <li class="menu__item">               <a class="menu__item-link menu__link" href="blog.html">Блог</a></li>
                  <li class="menu__item">               <a class="menu__item-link menu__link" href="index.html">Авторизация</a></li>
                </ul>
              </nav>
            </div>
            <div class="footer__col footer__col--right">
              <div class="socials__block footer__socials-list">
                <ul class="socials__list">
                  <li class="socials__item socials__item-round"><a class="socials__link" href="https://vk.com">
                      <svg class="social__img social__img--vk_round">
                        <use xlink:href="./assets/images/icons/sprite.svg#vk_round"></use>
                      </svg></a></li>
                  <li class="socials__item socials__item-round"><a class="socials__link" href="https://github.com">
                      <svg class="social__img social__img--github_round">
                        <use xlink:href="./assets/images/icons/sprite.svg#github_round"></use>
                      </svg></a></li>
                  <li class="socials__item socials__item-round"><a class="socials__link" href="https://www.linkedin.com">
                      <svg class="social__img social__img--in_round">
                        <use xlink:href="./assets/images/icons/sprite.svg#in_round"></use>
                      </svg></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer__row">
            <div class="footer__col">
              <p>Я веб разработчик из Москвы и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.</p>
            </div>
            <div class="footer__col footer__col--right"><span>© Жалдак Антон | Создано с любовью в LoftSchool | 2018</span></div>
          </div>
        </div>
      </footer>
      <script type="text/x-template" id="skills-list">
        <ul class="skills">
          <li class="skills__item" v-for="skillsGroupObj in skills">
            <skills-row :skillsGroupObj="skillsGroupObj"></skills-row>
          </li>
        </ul>
      </script>
      <script type="text/x-template" id="skills-item">
        <div class="skills-row">
          <div class="skills-row__title">{{skillsGroupObj.skillsGroup}}</div>
          <ul class="skills">
            <li class="skills__item" v-for="skillPercentage,skillTitle in skillsGroupObj.skills">
              <skill :skillPercentage="skillPercentage" :skillTitle="skillTitle"></skill>
            </li>
          </ul>
        </div>
      </script>
      <script type="text/x-template" id="skill">
        <div class="skill">
          <svg class="skill__figure" viewBox="0 0 100 100" preverseAspectRatio="none">
            <circle class="skill__circle skill__circle--under" cx="50" cy="50" r="40"></circle>
            <circle class="skill__circle skill__circle--above" cx="50" cy="50" r="40" ref="circle"></circle>
          </svg>
          <div class="skill-title">{{skillTitle}}</div>
        </div>
      </script>
      <script type="text/x-template" id="slider-root">
        <section class="slider">
          <div class="slider__wrapper">
            <info :work="currentWork"></info>
            <display :work="currentWork"></display>
            <btns :works="works" :index="currentIndex" @slide="handleSlide"></btns>
          </div>
        </section>
      </script>
      <script type="text/x-template" id="slider-info">
        <div class="slider__info">
          <div class="tools">
            <h3 class="title title--small tools__title">{{work.title}}</h3>
            <div class="tools__list"><span class="tools__name">{{work.tools}}</span></div><a class="tools__btn">
              <svg class="tools__btn-pic tools__btn-pic--link">
                <use xlink:href="./assets/images/icons/sprite.svg#link"></use>
              </svg><a class="tools__btn-text" :href="work.link">Посмотреть сайт</a></a>
          </div>
        </div>
      </script>
      <script type="text/x-template" id="slider-display">
        <div class="slider__display"><img class="slide__img slide__img--display" :src="work.photo"></div>
      </script>
      <script type="text/x-template" id="slider-btns">
        <div class="slider__btns">
          <button class="slider__btn slider__btn--prev" @click="slide('prev')"><img class="slide__img slide__btn-img" :src="prevBtnWorks[index].photo">
            <svg class="slider__btn-pic slider__btn-pic--portf_arrow_down">
              <use xlink:href="./assets/images/icons/sprite.svg#portf_arrow_down"></use>
            </svg>
          </button>
          <button class="slider__btn slider__btn--next" @click="slide('next')"><img class="slide__img slide__btn-img" :src="nextBtnWorks[index].photo">
            <svg class="slider__btn-pic slider__btn-pic--portf_arrow_up">
              <use xlink:href="./assets/images/icons/sprite.svg#portf_arrow_up"></use>
            </svg>
          </button>
        </div>
      </script>
    </div>
    <script src="bootloader.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
    <script src="works.bundle.js"></script>
  </body>
</html>