extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  h1 Страничка "Обо Мне и еще много интересного"  
  h2 Я пытаюсь понять что делаю )