extends ../main.layout.pug

block variables
  - var title = 'Блог'

block content

  section.hero__container
    .socials__block.hero__socials
      ul.socials__list
        -
          var socials = [
            { name: 'vk', href: 'https://vk.com'},
            { name: 'github', href: 'https://github.com'},
            { name: 'in', href: 'https://www.linkedin.com'}
          ]

        each item in socials
          li.socials__item
            a(href=`${item.href}`).socials__link
              +icon(`${item.name}`, 'social__img')
    button.burger__menu
      .burger-btn
        .burger-btn__elem
    //- .hero__title
    //-   +icon('portfolio_header', 'hero__pic')
    .hero__content
      .user
        .user-img__wrapper
          +image('avatar.jpg', 'avatar pic', 'user__img')
        .block-subtitle.blog__title-text Блог
          +icon('blog_header', 'blog__pic')
        span.blog__title-description Статьи которые я написал
    
  section.blog
  
    .blog__page
      .triangle
          .triangle__left.triangle__left--white
      aside.blog-aside
        
        nav.sidebar
          ul.sidebar__list
            li.sidebar__item
              a(href="#1").sidebar__link Самое важное в SASS
            li.sidebar__item
              a(href="#2").sidebar__link Приемы в верстке, без которых не обходится ни один сайт
            li.sidebar__item
              a(href="#3").sidebar__link Для чего нам нужен БЭМ
            li.sidebar__item
              a(href="#4").sidebar__link Сбока наше всё!
            li.sidebar__item
              a(href="#5").sidebar__link Адаптив и CSS Grid
      button.sidebar__menu
        
        
      .blog-content
        .triangle
          .triangle__right.triangle__right--white
        .articles
          article.article__box 
            .article#1
              h2.article__title.block-subtitle Самое важное в SASS
              .article__date 20.04.2018
                span.article__time 15:24
              .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                <br> <p> Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              .aticle__pic
                .cod-example-box
                  +image('cod.png', 'Example code', 'code-example-pic')
            
          article.article__box
            .article#2
              h2.article__title.block-subtitle Приемы в верстке, без которых не обходится ни один сайт
              .article__date 15.06.2018
                span.article__time 17:09
              .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                <br> <p> Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          
          article.article__box
            .article#3
              h2.article__title.block-subtitle Для чего нам БЭМ?
              .article__date 17.06.2018
                span.article__time 12:15
              .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                <br> <p> Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          
          article.article__box
            .article#4
              h2.article__title.block-subtitle Сборка наше всё!
              .article__date 20.06.2018
                span.article__time 11:00
              .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                <br> <p> Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          
          article.article__box
            .article#5
              h2.article__title.block-subtitle Адаптив и CSS Grid
              .article__date 3.07.2018
                span.article__time 19:32
              .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                <br> <p> Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        
          

  
block scripts
  script(src='blog.bundle.js')
