.articles{
  width: 90%;
}

.article {
  margin-top: 50px;

  &:first-child {
    margin-top: 0px;
  }
  @include tablets {
     &:last-child {
    margin-bottom: 250px;
     }
  }

  &:after {
    content: "";
    width: 850px;
    height: 5px;
    background-color: rgba(#f1f1f2, 0.5);
    position: absolute;

    @include tablets {
      width: 691px;
    }

    &:last-child {
      position: none;
      content: "fff";
      // height: 20px;
    }
  }
}

.article__title {
  justify-content: flex-start;
}

.article__date {
  display: flex;
  margin-top: 30px;
  color: $main;
}

.article__time {
  margin-left: 10px;
}

.article__content {
  margin-top: 30px;
  &:last-child {
    padding-bottom: 30px;
  }
  & p {
    margin-top: 30px;
  }
}

.code-example-box {
  @include tablets {
    max-width: 768px;
  }
}

.code-example-pic {
  margin-top: 30px;
  padding-bottom: 50px;
  width: 850px;
  @include tablets {
    width: 691px;
  }
}