.blog__page{
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  background: #ffffff;
  padding-top: 70px;
  padding-bottom: 170px;
  @include tablets {
    height: auto;
  }
}

// .blog__title-box {
//   height: 224px;
//   background: transparent;
//   // z-index: 0;
//   position: absolute;
// }

.blog__title-text {
  display: flex;
  align-items: center;
  color: white;
  font-size: 63px;
  margin-top: 30px;
  opacity: 0.8;

  &:before, &:after {
    content: "";
    display: block;
    height: 5px;
    width: 22px;
    background-color: white;
    opacity: .2;
  }

  &::before {
    margin-right: calc(20 / 16)rem;
  }

  &::after {
    margin-left: calc(20 / 16)rem;
  }
}

.blog__pic {
  width: 303px;
  height: 208px;
  position: absolute;
  fill: white;
  opacity: 0.1;
  // margin-top: 20px;
  top: -60px;

}

.blog__title-description {
  margin-top: 20px;
}

.blog-aside{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include tablets {
    width: 0px;
  }
}

.sidebar {
  // width: 100%;
  // display: flex;
  // z-index: 100;
  @include tablets {
    display: none;
  }
  &--active {
    display: none;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid $text-color;
    background-color: $main;
    z-index: 3;
    @include phones {
      display: flex;
    }

  }
}

.sidebar__list { 
  &--active { 
  padding-top: 50px;
  }
  width: 100%;
}

.sidebar__item {
  text-align: end;
  margin: 0px 10px 30px 0;
  padding: 0 20px;
  
  &:first-child {
    margin-top: 10px;
  }

  &:hover {
    border-right: 3px solid $main;
    @include phones {
      border-right: 3px solid #fff;
    }
  }
  &:active {
    border-right: 3px solid $main;
    @include phones {
      border-right: 3px solid $text-color;
    }
  }
}

.sidebar__link {
  text-decoration: none;
  color: $text-color;
  
  &:hover {
    color: $main;
    @include phones {
      color: #fff;
    }
  }
  &:active {
    color: $main;
    @include phones {
      color: $text-color;
    }
  }
}

.sidebar__phone {
  display: none;

  @include tablets {
    display: none;
  }

  @include phones {
    display: block;
    &--front {
      position: fixed;
      left: 0;
      bottom: 50%;
      top: 35%;
      border-radius: 100%;
      width: 30px;
      height: 60px;
      background-color: $main;
      z-index: 1;
      margin-left: -20px;
    }

    &--back {
      position: fixed;
      left: 0;
      bottom: 50%;
      height: 70px;
      top: 34.3%;
      border-radius: 100%;
      width: 38px;
      z-index: 0;
      margin-left: -25px;
      background-color: $text-color;
    }
  }
}

.blog-content {
  width: 70%;
  display: flex;
  justify-content: center;
    @include tablets {
      width: 100%;
    }
}