.btn__auth {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 0 28px;
  font-family: 'Roboto-Medium';
  color: #ffffff;
  line-height: 45px;
  transition: all .3s;

  &:hover {
    background-color: #fff;
    color: $main;
  }
  &--active {
    opacity: 0;
  }
}

.btn--form {
  display: flex;  

  & button{
    height: 45px;
    width: 190px;
    background: $main;
    color: #fff;
    text-align: center;
    font-family: $font-RR;
    
    &:hover {
      background: $secondary;
    }
    @include phones {
      width: 150px;
    }
  }
}

.btn__send {
  border-bottom-left-radius: 5px;
  border-right: 1px solid #f1f1f294;
}

.btn__clear {
  border-bottom-right-radius: 5px;
  border-left: 1px solid #f1f1f294;
}

