.reviews__form {
  width: 380px;
  height: 437px;
  background-color: rgba(255, 255, 255, 0.3);
  // background-color: #fcfcfc;
  // background: rgba(218, 216, 216, 0.8);
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  text-align: center;
  &-title {
    color: $text-color;
  }
  @include phones {
    width: 300px;
    height: 417px;
  }
}

.reviews__form-title {
  display: flex;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
  margin-top: 37px;
  color: $dark-grey;
  line-height: 1;
  font-family: $font-Bern;

  &:before, &:after {
    content: "";
    display: block;
    height: 5px;
    width: 22px;
    background-color: $dark-grey;
    opacity: .2;
  }

  &::before {
    margin-right: 20px;
  }
  &::after {
    margin-left: 20px;
  }

  @include phones {
    font-size: 21px;
  }
  
}

.reviews__form-data input, textarea {
  width: 340px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 0px;
  background-color: #fff;
  resize: none;
  padding-left: 20px;

  @include phones {
    width: 95%;
  }
  // line-height: 99.12;
}

.form__data {
  height: 45px;
  color: $dark-grey;

  &--msg {
    padding-top: 20px;
    height: 140px;
  }
}


  