.profile-block {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #fff;
  backface-visibility: hidden;
  overflow: hidden;
  opacity: .85;
  transform: rotateY(0deg) translateZ(10px);
  
  z-index: 10;
  &--authorization {
    
    display: flex;
    position: absolute;
    transform: rotateY(-180deg);
    
   }
  @include phones {
    width: 95%;
  }
}

.profile-block__top {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 40px;
  &--authorization {
    padding: 40px 40px;
  }
  @include phones {
    padding: 20px 33px;
  }
  
}

.profile-block__bot {
  width: 100%;
}

.profile__socials {
  margin-top: 35px;
  @include phones {
    margin-top: 15px;
  }
}
