.skills-list {
  margin-left: 37px;
  margin-top: -20px;
  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include phones {
    margin-left: 0;
  }
}

.skills-row__list {
  display: flex;
  @include tablets {
    margin-top: 20px;
  }
}

.skills-row__title {
  color: $text-color;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  position: relative;
  margin-top: 36px;
  @include tablets {
    margin-top: 50px;
  }
  @include phones {
    margin-top: 20px;
  }
}

.skill__title {
  color: $main;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height:29.39px;
  text-transform: uppercase;
  // position: relative;
  margin-top: -75px;
  margin-left: 48px;
  
}

.skills-row__item {
  padding-right: 35px;
  // &:first-child .skill__title {
  //     margin-top: -70px;
  //     margin-left: 35px;
  // }
}

.b-skill-svg__circle-base {
  stroke: #dfdcd5;
}


.b-skill-svg__circle-progress {
  stroke: $main;
}

.b-skill-svg {
  fill: none;
  stroke-width: 22;
}