.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-Bern;
  color: $dark-grey;
  line-height: 1;

  @include phones {
    font-size: 35px;
  }

  &--work {
    font-size: 63px;
    @include phones {
      font-size: 35px;
    }
  }

  &:before, &:after {
    content: "";
    display: block;
    height: 5px;
    width: 22px;
    background-color: $dark-grey;
    opacity: .2;
  }

  &::before {
    margin-right: calc(20 / 16)rem;
  }

  &::after {
    margin-left: calc(20 / 16)rem;
  }

  &--small {
    font-size: 35px;
    @include phones {
      font-size: 21px;
    }
  }
}

.title-bg {
  position: absolute;
  top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 165px;
  width: 506px;
  transform: translateY(-36%);
  @include tablets {
    top: 34px;
  }

  @include phones {
    width: 253px;
    height: 83px;
    top: 28px;
  }
}

.title__pic {
  width: 100%;
  fill: $dark-grey;
  opacity: .07;
}

.title--multiline {
  text-align: center;
  line-height: 41px;
  align-items: initial;

  &::before,
  &::after {
    margin-top: 6%;
  }
}