.works {
  position: relative;

  &__left { 
    background: white;
  }
  &__right {
    background: white;
  }

  @include tablets {
    height: 1206px;
  }
  @include phones {
    height: auto;  
  }
}

.works__title-box {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include phones {
    height: 95px;
  }
  
}

.works_header {
  
}

